
.album {
    padding: 20px;
  }
  

  .responsive-container-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
  

  .img-cont {
    display: flex;
    gap: 20px;
  }
  
 
  .img {
    width: 350px;
    height: auto;
    cursor: pointer;
    border-radius: 8px; 
    object-fit: cover;
    
   
    transition: transform 0.3s ease, opacity 0.2s ease-in-out;
  }
  

  .img:hover {
     /* animation: blink 1s linear infinite;  */
    transform: scale(1.05);  
  }
  
  /* Keyframe for blink effect */
  /* @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  } */
  
 
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-content {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: auto;
  }
  
  .slide {
    display: none;
    width: 100%;
  }
  
  .slide img {
    width: 950px;
    height: 700px;
    margin-left: -36px;
    margin-top: 80px;
}

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    padding: 16px;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block {
        grid-template-columns: repeat(2, 1fr); 
    }

    .img {
      width: 230px;
  }
    .slide img {
      width: 772px;
      height: 600px;
      margin: 60px;
  }
  .img-cont {
    justify-content: left;
}
}



@media (max-width: 768px) {
    .responsive-container-block {
        grid-template-columns: repeat(1, 1fr); /* One column on smaller screens */
        gap: 15px;
    }

    .img {
      width: 340px;
      height: 230px;
  }
  .slide img {
    width: 600px;
    height: 510px;
    margin-top: 100px;
    /* margin-right: 82px; */
    margin-left: 2px;
}

    .img-cont {
        justify-content: left;
    }
   
}


@media (max-width: 435px) {
  .img {
    width: 170px;
    height: 146px;
}
    .slide img {
      width: 340px;
      height: 432px;
      margin-top: 140px;
      margin-left: 2px;
  }
  .img-cont {
    justify-content: center;
}

}

/* Responsiveness for screens 320px to 374px */
@media (max-width: 376px) {
    .responsive-container-block {
        grid-template-columns: repeat(1, 1fr); /* One column */
        gap: 10px;
    }

    .img {
      width: 150px;
      height: 140px;
  }

    .img-cont {
        justify-content: center;
    }
    .slide img {
      width: 298px;
      height: 331px;
      margin-top: 181px;
      margin-left: 2px;
  }
}

@media (max-width: 320px) {
  .img {
    width: 132px;
    height: 150px;
}

.slide img {
  width: 251px;
  height: 280px;
  margin-top: 205px;
  margin-left: 2px;
}
  
}
  