
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner {
    background-image: url('./image/bg1.png');
    background-size: contain;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

.banner-content {
    background-color: #283593;
    padding: 80px;
    color: white;
    max-width: 700px;
    height: 598px;
}

.banner-content h2 {
    font-family: Open Sans;
font-size: 20px;
font-weight: 800;
line-height: 27.24px;
letter-spacing: 0.05em;
text-align: left;
color: #FF962D;
}

.banner-content h1 {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 65.37px;
    text-align: left;
    margin-top: 10px;
    max-width: 500px;
}

.banner-content p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    margin-top: 20px;
    
}


.solution-section {
    padding: 40px;
    background-color: white;
}

.solution-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 700px;
    padding: 10px;
}

.solution-item.reverse {
    flex-direction: row-reverse;
    background-color: #DADCED;
    width: 1520px;
    height: 700px;
    margin: -40px;
    padding: 10px;
}

.text-content {
    display: flex;
    flex: 1;
    padding: 20px;
}
.text-hedo{
    padding: 20px;
}

.text-head {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.24px;
    letter-spacing: 0.05em;
   
    color: #FF6F00; 
}
.text-heading{
    font-family: Open Sans;
font-size: 48px;
font-weight: 600;
line-height: 65.37px;
text-align: left;
margin-top: 10px;
}

.text-para{
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 29px;
text-align: left;
margin-top: 10px;
}

.image-content {
    flex: 1;
    padding: 20px;
}

.image-content img {
    width: 100%;
    box-shadow: -27px 27px 0px 0px #FF962D;
}
.solution-item.reverse .image-content img{
    box-shadow: -27px 27px 0px 0px  #FF962D;
    margin-left: 20px;
} 
.house-img{
    height: 500px;
    width: 3500px;
    
}
.num{
    height: 100px;
    width: 87px;
}





/* Media Queries for Responsiveness */


@media screen and (max-width: 1024px) {
    .banner {
        justify-content: center;
        padding-right: 0;
        width: 100%;
        overflow: hidden;
    }
    .top-bar{
        width: 100%;
        overflow: hidden;
    }

    .banner-content {
        padding: 40px;
        max-width: 600px;
        overflow: hidden;
    }

    .banner-content h1 {
        font-size: 36px;
    }

    .solution-item {
        flex-direction: column;
        text-align: center;
        height: 950px;
        width: 100%;
        margin-top: 40px;
        padding: 20px;
        overflow: hidden;
    }

    .solution-item.reverse {
        flex-direction: column;
        background-color: #DADCED;
        width: 1022px;
        height: 950px;
        margin-top: 40px;
        padding: 20px;
        overflow: hidden;
    }
    .solution-item.reverse .image-content img {
        height: 430px;
        margin-bottom: 40px;
    }

    .image-content img {
       
        margin: 0 auto;
        height: 430px;
        margin-bottom: 40px;
    }

    .text-heading {
        font-size: 36px;
    }
   .text-content{
    margin-top: 40px;
   }
   .solution-item.reverse .text-content{
    margin-top: 40px;
   }

}

/* Mobile screens (768px and below) */
@media screen and (max-width: 768px) {
    .body{
        overflow-x: hidden;
    }
    .banner {
        height: auto;
        padding-right: 0;
        background-image: none;
        overflow: hidden;
    }

    .banner-content {
        padding: 40px;
        max-width: 100%;
        overflow: hidden;
    }

    .banner-content h1 {
        font-size: 30px;
        line-height: 62px;
    }


    .banner-content p {
        font-size: 20px;
        line-height: 41px;
    }
    .solution-section{
        width: 100%;
        overflow: hidden;
        margin-top: 0;
    }
    .text-content{
        width: 650px;
    }
    .solution-item {
        flex-direction: column;
        max-width: 680px;
        height: 850px;
        margin-top: 5px;
    }
    .solution-item.reverse{
        max-width: 800px;
        height: 900px;
        margin-top: 5px;
    }
    .solution-item.reverse .text-content{
        margin-left: -80px;
    }
    

    .image-content img {
        height: 350px;
        max-width: 100%;
        margin-top: 20px;
        align-items: center;
        margin-left: 22px;
    }
    .solution-item.reverse .image-content img{
        height: 350px;
        margin-bottom: 140px;
        margin-left: 6px;
    }

    .text-heading {
        font-size: 30px;
        line-height: 40px;
    }

    .text-para {
        font-size: 16px;
        line-height: 24px;
    }

    .num {
        height: 60px;
        width: 50px;
    }
    .text-head {
        font-family: Open Sans;
        font-size: 30px;
        font-weight: 800;
        line-height: 54.24px;
        letter-spacing: 0.05em;
        color: #FF6F00;
        text-align: left;
        /* margin-left: -208px; */
    }
    .solution-item.reverse .text-head {
        font-family: Open Sans;
        font-size: 22px;
        font-weight: 800;
        line-height: 54.24px;
        letter-spacing: 0.05em;
        color: #FF6F00;
        text-align: left;
        /* margin-left: -166px; */
    }
}

/* Smaller screens (425px and below) */
@media screen and (max-width: 430px) {
    .body{
        overflow-x: hidden;
    }
  
    .banner-content {
        padding: 30px;
    }
    .solution-item{
        max-width: 390px;
    }
    .solution-item.reverse{
        max-width: 800px;
    }

    .banner-content h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .banner-content p {
        font-size: 20px;
        line-height: 33px;
    }
    .text-hedo{
        max-width: 330px;
    }
    .text-content{
        max-width: 390px;
    }
   .solution-item.reverse .text-content{
    max-width: 670px;
   }
    .num {
        height: 40px;
        width: 40px;
    }

    .text-heading {
        font-size: 22px;
        line-height: 36px;
    }
    .text-head{
        font-size: 28px;
    }
    .solution-item.reverse .text-head{
        font-size: 28px;
        max-width: 220px;
        margin-left: 0;
    }
    .solution-item.reverse .text-hedo{
      max-width: 330px;
       
    }

    .text-para {
        font-size: 14px;
        line-height: 20px;
    }
    .image-content img {
        width: 304px;
        height: 276px;
        margin-left: 13%;
    }
    .solution-item.reverse .image-content img {
        width: 304px;
        height: 276px;
        margin-left: -99%;
    }
    .solution-section{
        margin-top: -74px;
    }
    
}

/* Extra small screens (375px and below) */
@media screen and (max-width: 380px) {
    .body{
        overflow-x: hidden;
    }
    .banner-content{
        padding: 40px;
    }
    .banner-content h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .text-content{
        max-width: 320px;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 33px;
    }
    .solution-item{
        max-width: 700px;
    }
    .solution-item.reverse{
        max-width: 760px;
    }
    .solution-item.reverse .text-para{
        font-size: 13px;
    }

    .text-heading {
        font-size: 22px;
        line-height: 30px;
    }

    .text-para {
        font-size: 13px;
    }
    .text-head {
        font-size: 22px;
        margin-left: -3px;
        line-height: 30px;
    }

    .solution-item.reverse .text-head {
        font-size: 22px;
        margin-left: 1px;
        line-height: 29px;
    }
    .solution-item.reverse .text-hedo{
      
        max-width: 280px;
    }


    .num {
        height: 40px;
        width: 30px;
    }
    
    .text-hedo {
        max-width: 290px;
    }
    .image-content img {
     width: 289px;
     height: 202px;
     margin-left: 6%;
            
        }
    .image-content{
        height: 600px;
    }
    .solution-item.reverse .image-content img {
        width: 230px;
        height: 200px;
        margin-left: -152%;
    }

}

/* Very small screens (320px and below) */
@media screen and (max-width: 320px) {
    .body{
        overflow-x: hidden;
    }
    .solution-section {
        margin-top: -74px;
        width: 320px;
    }
    .solution-item.reverse {
        flex-direction: column;
        background-color: #DADCED;
        max-width: 720px;
    }
    .solution-item{
        width: 300px;
    }
    .text-content {
        display: flex;
        flex: 1;
        padding: 20px;
        max-width: 335px;
    }
    .image-content img {
        width: 180px;
        height: 211px;
        margin-left: -9%;
    }
    .solution-item.reverse   .image-content img {
        width: 180px;
        height: 211px;
        margin-left: -205%;
    }
    .solution-item.reverse .text-head {
        font-size: 20px;
        margin-left: 0px;
        max-width: 100%;
    }

    .banner-content h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .banner-content p {
        font-size: 15px;
        line-height: 29px;
    }
    .text-head{
        font-size: 22px;
    }

    .text-heading {
        font-size: 20px;
    }

    .text-para {
        font-size: 12px;
        max-width: 200px;
    }

    .num {
        height: 30px;
        width: 25px;
    }
}